<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <title>Error Page</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Our apologies!</h1>
            <h5>Something went wrong, but we're working on it.</h5>
            <p><a class="btn btn-primary btn-lg" href="#" th:href="@{/home}">Go Home</a></p>
        </div>
    </div>
</body>
</html>